
.section {
  margin-top:10px;
}
.day {
  font-size: 1.5em;
}

img.clickable {
  cursor: pointer;
}

div.thumbnail {
	background-color: rgb(230, 230, 230);
}
div.thumbnail:hover {
  background-color: #9c9c9c;
}
